<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.name %></td>
        <td class=<%= "followings-count-" + user.id.to_s %>>
          <%= render 'relationships/followings-counter', user: user %>
        </td>
        <td class=<%= "followers-count-" + user.id.to_s %>>
          <%= render 'relationships/followers-counter', user: user %>
        </td>
        <td class=<%= "relationship-btn-" + user.id.to_s %>>
          <%= render 'relationships/follow-btn', user: user %>
        </td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
