<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th class="userInfo_followings-count">
      <%= render 'relationships/userInfo_followings-counter', user: user %>
    </th>
  </tr>
  <tr>
    <th>followers</th>
    <th class="userInfo_followers-count">
      <%= render 'relationships/userInfo_followers-counter', user: user %>
    </th>
  </tr>
</table>

<div class='row'>
  <% if user.name != "guestuser" %>
    <% if user == current_user %>
      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    <% else %>
    <p class="userInfo_relationship-btn">
      <%= render 'relationships/userInfo_follow-btn', user: user %>
    </p>
    <% end %>
  <% end %>
</div>